  
<br><br>  
  <form action="/api/task" method="post">
          
            
              <input type="text" name="taskname" required placeholder="Enter Taskname" />



              <input type="number" min="1" max="9" required name="priority"  placeholder="Priority" />


            <button class="btn btn-primary btn-sm btn-block" type="submit">Add Task</button>
</form>

<br>
<a href="/report" class="btn btn-info">View Reports</a>
<br>

<h1>All tasks</h1>
<table>
    <thead>
    <tr>
        <th>Index &emsp;</th>
        <th>TaskName &emsp;</th>
        <th>Priority &emsp;</th>
        <th>Status &emsp;</th>
        <th>Action &emsp;</th>
    </tr>
    </thead>
    <tbody>
{{#each tasks}}
<tr><td>{{#add @index 1 }}{{/add}}</td>
    <td>{{taskname}}</td>
    <td>{{priority}}</td>
    <td>
        {{#if completed }}
        [✔]        
        {{/if}}
       {{#if cancelled }}
        [x]
        {{/if}}
         </td>
    <td>
        {{#or completed cancelled }}
        
        
        {{else}}
        <a href="/completetask/{{_id}}" >
        Completed
        </a> &emsp;
          <a href="/canceltask/{{_id}}" 
        onClick="return confirm('Cancelling {{taskname}} Are you sure? ')">
        Cancel
        </a>&emsp;   
        {{/or}}
        
        <a href="/deletetask/{{_id}}" 
        onClick="return confirm('Deleting {{taskname}} Are you sure? ')">
        Delete
        </a>
        </td>
</tr>

{{/each}}
    </tbody>
</table>


